// Brand Colours
$color-coral: #ff3347;

$color-grey: #212428;
$color-abbey: #454546;
$color-mist: #928f93;
$color-aluminium: #a8acb1;
$color-alto: #d8d8d8;
$color-athens: #f5f7f9;

$color-white: #fff;
$color-black: #000;

$color-facebook-blue: #3c5a96;
$color-twitter-blue: #629fc5;
$color-youtube-red: #ff0000;

// Shadows
$color-subtle-shadow: rgba($color-black, 0.1);
$color-medium-shadow: rgba($color-grey, 0.5);
$color-heavy-shadow: rgba($color-black, 0.25);
